@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Roboto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
    background-color: #1F2937;
    padding: 1% 10% 0% 10%;
}

.hlogo {
    font-size: 24px;
    color: #F9FAF8;
}

.hlink {
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    background-color: #1F2937;
    color: white;
    padding: 7% 10%;
    column-gap: 10%;
}

.greeting {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 16px;
}

.greeting-header {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.greeting-info {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    width: fit-content;
    padding: 5px 20px;
    background-color: #3882F6;
    border-radius: 8px;
    font-size: 18px;
    color: #F9FAF8;
}

.placeholder {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    font-size: 18px;
    color: #E5E7EB;
    background-color:gray;
    height:90%;
    padding: 0% 15%;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 2 0 auto;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2 0 auto;
    padding: 3% 15%;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info {
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 8%;
    margin-top:3%;
}

.info-group {
    display: flex;
    flex-direction: column;
    width: 200px;
    font-size: 18px;
}

.element {
    border: 3px solid #3882F6;
    border-radius: 20px;
    height: 200px;
    width: 200px;
}

.extra-space {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    background-color: #E5E7EB;
    padding: 7% 20%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding-bottom: 1%;
}

.quote-source {
    align-self: flex-end;
    font-size: 20px;
    font-weight: 900;
    color: #1F2937;
}

.footer-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: .5 0 auto;
    padding: 5% 10%;
}

.banner {
    display: flex;
    background-color: #3882F6;
    color: white;
    width: 90%;
    border: none;
    border-radius: 10px;
    padding: 3% 7%;
    justify-content: space-around;
}

.banner-text {
    text-align: left;
}

.banner-heading {
    font-size:larger;
    font-weight: bold;
}

.banner-button {
    align-self: center;
    border: 2px solid white;
}

.footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex: 0 0 auto;
    padding: 2% 0%;
    background-color: #1F2937;
    color: white;
}